
<div class="social-media">
    <a href="#">
        <i class="fa-brands fa-facebook-f"></i></a>
    <a href="#">
        <i class="fa-brands fa-instagram"></i></a>
    <a href="#">
        <i class="fa-brands fa-x-twitter"></i></a>
    <a href="#">
        <i class="fa-brands fa-tiktok"></i></a>
    <a href="#">
        <i class="fa-brands fa-whatsapp"></i></a>
    <a href="#">
        <i class="fa-brands fa-youtube"></i></a>
</div>
<div class="logo">
    <img src="/Assets/Logo.svg" alt="Logo" loading="lazy">
</div>
<div class="copyright">
    <p>© Start, 2022. All rights reserved.</p>
</div>
