
<div class="social-media">
    <a href="#">
        <i class="fa-brands fa-facebook-f"></i>
        <p>@Facebook</p>
    </a>
    <a href="#">
        <i class="fa-brands fa-instagram"></i>
        <p>@Instagram</p>
    </a>
    <a href="#">
        <i class="fa-brands fa-x-twitter"></i>
        <p>@Twitter</p>
    </a>
    <a href="#">
        <i class="fa-brands fa-tiktok"></i>
        <p>@TikTok</p>
    </a>
    <a href="#">
        <i class="fa-brands fa-whatsapp"></i>
        <p>@WhatsApp</p>
    </a>
    <a href="#">
        <i class="fa-brands fa-youtube"></i>
        <p>@YouTube</p>
    </a>
</div>
<div class="copyright">
    <p>© Start, 2022. All rights reserved.</p>
</div>
