<!DOCTYPE html>
<html lang="Pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Services</title>
    <link rel="stylesheet" href="/styles/Services.css">
    <link rel="stylesheet" href="/styles/Varaveis.css">
</head>
<body>
    <header>
        <nav>
            <img src="/Src/Logo.svg" alt="Logo" loading="lazy">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="#Portfolio">Portfolio</a></li>
                <li><a href="/templates/Services.html">Services</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="textos">
            <h3>P L A N S</h3>
            <h1>Lorem Ipsum Dolor</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-textos">
                    <p class="plano">Basic</p>
                    <p class="preco">
                        <span>$100</span>
                        /month
                    </p>
                    <p class="descricao">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam
                    </p>
                </div>
                <ul class="card-caracteristicas">
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-xmark"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-xmark"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-xmark"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                </ul>
                <button type="button" class="botao btn2">Choose Plan</button>
            </div>
            <div class="card">
                <div class="card-textos">
                    <p class="plano">Plus</p>
                    <p class="preco">
                        <span>$250</span>
                        /month
                    </p>
                    <p class="descricao">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam
                    </p>
                </div>
                <ul class="card-caracteristicas">
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-xmark"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                </ul>
                <button type="button" class="botao btn2">Choose Plan</button>
            </div>
            <div class="card">
                <div class="card-textos">
                    <p class="plano">Pro</p>
                    <p class="preco">
                        <span>$400</span>
                        /month
                    </p>
                    <p class="descricao">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam
                    </p>
                </div>
                <ul class="card-caracteristicas">
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-check"></i></span>
                        <p>Lorem ipsum dolor sit</p>
                    </li>
                </ul>
                <button type="button" class="botao btn2">Choose Plan</button>
            </div>
        </div>
    </main>
    <footer>
    <div class="social-media">
        <a href="#">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </div>
    <div class="copyright">
        <p>© Start, 2022. All rights reserved.</p>
    </div>
</footer>
</body>
</html>