*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}
h1{
    font-size: 36px;
}
h3{
    font-size: 24px;
}

header{
    width: 100%;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    padding: 35px 0;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--margens);
}
nav ul{
    display: flex;
    list-style: none;
    gap: var(--espaco-grande);
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--cor-texto);
}
#home{
    width: 100%;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--margens) 60px;
    gap: 120px;
}
.informacoes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor-texto);
}
.botao{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 48px;
    font-size: 20px;
    border-radius: 5px;
}
.btn1{
    background-color: var(--cor-destaque);
    color: var(--cor-texto-escuro);
}
.btn2{
    background-color: var(--cor-destaque-escuro);
    color: var(--cor-texto);
}
#partners{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--margens);
    gap: 55px;
    margin-top: 60px;
    margin-bottom: var(--margem-botton);
}
.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--cor-texto-escuro);
}
.textos h3{
    color: var(--cor-fundo);
}
.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
#sobre{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 var(--margens);
    gap: 120px;
    margin-bottom: var(--margem-botton);
}
.informacoes-sobre{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor-texto-escuro);
}
#time{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--margens);
    gap: 55px;
    margin-bottom: var(--margem-botton);
}
.membros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px 15px 0px var(--cor-sombra);
    gap: 16px;
}
.card h3{
    color: var(--cor-texto-escuro);
    font-size: 20px;
}
.card p{
    font-size: 14px;
    
}
footer{
    width: 100%;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    padding: 35px var(--margens);
    color: var(--cor-texto);
}
.social-media{
    display: flex;
    gap: 20px;
}
.social-media a{
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 20px;
}