*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}

#home{
    width: 100%;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
    gap: 120px;
}
.informacoes{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor-elemento-principal);
}
@media (max-width: 1440px) {
    .imagem img{
        max-width: 500px;
    }
}
@media (max-width: 1024px) {
    .imagem img{
        max-width: 300px;
    }
}
@media (max-width: 768px) {
    #home{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 40px;
    }
    .imagem img{
        width: 300px;
    }

    #sobre{
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
}
#parceiros{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--margens);
    gap: 55px;
    margin-top: 60px;
    margin-bottom: var(--margem-botton);
}
.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--cor-texto-principal);
}
.textos h3{
    color: var(--cor-principal);
}
.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
#sobre{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    gap: 120px;
    /* margin-bottom: var(--margem-botton); */
}
.reverso{
    display: flex;
    flex-direction: row-reverse;
}
.informacoes-sobre{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor-texto-principal);
}
.informacoes-sobre p{
    color: var(--cor-texto-secundario);
}
#time{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 55px;
    margin-bottom: var(--margem-botton);
}
.membros{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 216px;
    padding: 20px;
    box-shadow: 3px 3px 15px 0px var(--cor-sombra);
    border-radius: 10px;
    gap: 16px;
    height: 328px;
    max-width: 216px;
}
.card h3{
    color: var(--cor-texto-escuro);
    font-size: 20px;
    text-align: center;
}
.card p{
    font-size: 14px;
    color: var(--cor-texto-secundario);
}
