*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}